<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
      <br><br><br>
      <h1 class="display-3" style="color:white">Food tracker app</h1>
      <p class="lead" style="color:white">
        <b>This is an application where you can track what you eat everyday
        </b>
      </p>
      <hr class="my-2" />
      <p style="color:white">
        <b>This is first release of this application. Learned a lot during developing this application. Angular and Spring Boot can work really well together and this deffinetely is not my last project :D.
        </b>
      </p>
      <p class="lead">
        <button type="button" class="btn btn-primary" style="margin-right:20px">Learn More</button>
      </p>
    </div>
  </div>