<div>

  <div>
    <nav class="navbar navbar-expand-md navbar-light bg-dark">
      <a class="navbar-brand" href="/">
        <img src="assets/images/icon.png" width="50" height="35" />
      </a>
      <ul class="mr-auto navbar-nav">
        <li *ngIf="isLoggedIn" class="dropdown nav-item" style='margin-right:20px'>
          <a class="dropdown-toggle nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="color: red; text-decoration: none;"
            data-bs-toggle="dropdown">
            Menu
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/user">Users</a>
            <a class="dropdown-item" routerLink="/person">Persons</a>
            <a class="dropdown-item" routerLink="/food">Foods</a>
          </div>
        </li>
      </ul>
      <div *ngIf="!isLoggedIn">
        <button type="button" class="btn btn-primary" routerLink="/login">Login</button>
      </div>
      <div *ngIf="isLoggedIn">
        <button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
      </div>
    </nav>
  </div>

  <router-outlet></router-outlet>

</div>